.navbar-expand-lg{
    background-color: slategray;
}

.navbar-brand {
    font-family: 'PT Serif', serif;
    color: ghostwhite;
}

.navbar-brand:hover {
    color: plum;
}

#title{
    font-size: larger;
    font-weight: bolder;
    color: purple;
}

#addTask {
    float: right;
    color: blueviolet;
}