.jumbotron{
    height: 300;
    clear: "both";
    padding-top: 120;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    color: cornflowerblue;
    background-image: url("white.jpg");
    background-size: cover;
    opacity: 0.75;
}